<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <remove name ="DbContext"/>
    <add name="DbContext"
         connectionString="server=ec2-3-16-188-153.us-east-2.compute.amazonaws.com;uid=lizst;pwd=BirdCabinet"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>