@model string[]
@{
    ViewData["Title"] = "AlreadyIn";
}

<div style="padding-top:150px;" class="text-center">
    <h4 style="padding-bottom:20px" > @Model[0] is already in @Model[1] </h4>
    <a class="btn btn-info" asp-controller="Ensemble" asp-action="Index">Back to Ensembles</a>


</div>
