@model Lizst.Models.Musician

@{ ViewData["Title"] = "Add Instrument" }

<fieldset>
    <legend><b>Add Instrument</b></legend>
    <div class="form-group">
        <input type="hidden" value="Musician.MusicianId" />

        <label for="instrumentSelect">Select Instrument: </label>
        <select class="form-control" name="Part">
            <option value="Violin 1">"Violin 1" </option>
            <option value="Violin 2">"Violin 2" </option>
            <option value="Viola">"Viola"    </option>
            <option value="Cello">"Cello"    </option>
            <option value="Bass">"Bass"     </option>
        </select>
    </div>
    <div class="form-group">
        <label for="musicianName">Musician Name: </label>
        <input asp-for="MusicianName" class="form-control" />
        <span asp-validation-for="MusicianName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="musicianEmail">Musician Email: </label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
</fieldset>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}