@{
    ViewData["Title"] = "Home Page";
}

<div style="padding-top:30px" class="text-center">
    <img src="~/Liszt.jpg" width="175" /><br />
    <div style="width:700px; margin:auto">
        <form style="display:inline-block; width:100%; padding:25px" class="form-inline" method="post" action="/Results/">
            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search" name="search">
            <i class="fa fa-search" aria-hidden="true"></i>
        </form>
    </div>
    <button type="button">Baroque</button>
    <button type="button">Classical</button>
    <button type="button">Modern</button>
</div>
