@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/Liszt.jpg" width="150" /><br />
    <textarea placeholder="Search pieces by title, composer, or keyword." cols="50" rows="1"></textarea><br />
    <button type="button">Baroque</button>
    <button type="button">Classical</button>
    <button type="button">Modern</button>
</div>
