@{
    ViewData["Title"] = "TEST";
}

<script type="text/javascript" language="javascript">
    function checkAll(o) {
      var boxes = document.getElementsByTagName("input");
      for (var x = 0; x < boxes.length; x++) {
        var obj = boxes[x];
        if (obj.type == "checkbox") {
          if (obj.name != "check")
            obj.checked = o.checked;
        }
      }
    }
</script>



<h3>Check All  - Javascript</h3>

<input type="checkbox" id="cc" onclick="javascript:checkAll(this)" />
<label for="cc">Check All</label>
<br /><br />
<input type="checkbox" id="c1" />
<label for="c1">Checkbox 1</label>
<br />
<input type="checkbox" id="c2" />
<label for="c1">Checkbox 2</label>
<br />
<input type="checkbox" id="c3" />
<label for="c1">Checkbox 3</label>
<br />
<input type="checkbox" id="c4" />
<label for="c1">Checkbox 4</label>
<br />
<input type="checkbox" id="c5" />
<label for="c1">Checkbox 5</label>
<br />