@model Lizst.Models.Ensemble

@{
    ViewData["Title"] = "Details";
}

<h1 style="padding-bottom:20px; padding-top:20px;">Details</h1>
<div class="card border-info">
    <h3 class="card-header bg-info" style="color:white;">@Model.EnsembleName</h3>
    <div class="card-body">
        <h5>Year:</h5>
        <p class="card-text">@Model.Year</p>
        <h5>Conductor:</h5>
        <p class="card-text">@Model.Conductor</p>

        <div class="text-center">
            <a style="width:120px;" asp-action="EditEnsemble" asp-route-id="@Model.EnsembleId" class="btn btn-info">Edit</a>
            <a style="width:120px;" class="btn btn-info" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>