@model Lizst.Models.Ensemble

@{
    ViewData["Title"] = "Edit Ensemble";
}
<form style="padding-top:20px; padding-bottom:20px;" asp-action="EditEnsemble">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="EnsembleId" />
    <fieldset>

        <legend><b>Edit Ensemble</b></legend>
        <div class="form-group">
            <label for="EnsembleName">Ensemble Name: </label>
            <input asp-for="EnsembleName" class="form-control" />
            <span asp-validation-for="EnsembleName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Year">Year: </label>
            <input asp-for="Year" class="form-control" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Conductor">Conductor / Director: </label>
            <input asp-for="Conductor" class="form-control" />
            <span asp-validation-for="Conductor" class="text-danger"></span>
        </div>
    </fieldset>
    <div class="text-center" style="padding-top: 10px">
        <div class="form-group">
            <input type="submit" name="button" value="Save" class="btn btn-info btn-md" style="width: 180px;" />
            <input type="submit" name="button" value="Delete"   class="btn btn-danger btn-md" style="width: 180px;" />
        </div>
    </div>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
