@model IEnumerable<Lizst.Models.Ensemble>

@{
    ViewData["Title"] = "Ensembles";
}


<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ensembles</th>
                <th>Conductor</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Lizst.Models.Ensemble ensemble in Model)
            {
                <tr>
                    <td>
                        @ensemble.EnsembleName
                    </td>
                    <td>
                        @ensemble.Conductor
                    </td>
                    <td>
                        @ensemble.Year
                    </td>
                    <td>
                        <a asp-action="EditEnsemble" asp-route-id="@ensemble.EnsembleId">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>