@model IEnumerable<Lizst.Models.Ensemble>

@{
    ViewData["Title"] = "Ensembles";
}

<h1 style="padding-bottom:10px; padding-top:10px;">Ensembles</h1>
<p>
    <a class="btn btn-info" asp-action="AddEnsemble">Add Ensemble</a>
</p>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ensembles</th>
                <th>Conductor</th>
                <th>Year</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Lizst.Models.Ensemble ensemble in Model)
            {
                <tr>
                    <td>
                        @ensemble.EnsembleName
                    </td>
                    <td>
                        @ensemble.Conductor
                    </td>
                    <td>
                        @ensemble.Year
                    </td>
                    <td>
                        <a style="color:#17a2b8;" asp-action="EditEnsemble" asp-route-id="@ensemble.EnsembleId">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>