@model ScoresAndPieces
@{
    ViewData["Title"] = "Check Out Error";
}

<h1 style="padding-top:10px; padding-bottom:10px;">Check Out Error</h1>
<p>The pieces below are unavailable, your score(s) were NOT checked out.</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Unavailable Piece</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Pieces.Count(); i++)
        {
            <tr>
                <td>
                    @Model.Pieces[i].Instrument
                </td>
                <td>
                    @Model.Scores[i].Title
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center" style="padding-top:20px;">
    <a class="btn btn-info" asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
