@model ICollection<Lizst.Models.Score>

@{
    ViewData["Title"] = "Shopping Cart";
}

<h1>Shopping Cart</h1>

<table>
    <thead>
        <tr>
            <td>
                Title
            </td>
            <td>

            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (Lizst.Models.Score score in Model)
        {
            <tr>
                <td>
                    @score.Title
                </td>
                <td>
                    <a asp-action="RemoveFromCart" asp-route-id="@score.ScoreId">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="SelectEnsemble">Select Ensemble</a>