@model IEnumerable<Musician>
@{
    ViewData["Title"] = "Index";
}

<h1 style="padding-top:10px; padding-bottom:10px;">Checked Out Pieces</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Musician ID
            </th>
            <th>
                Musician
            </th>
            <th>
                Email
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(Musician m in Model)
        {
            <tr>
                <td>
                    @m.MusicianId
                </td>
                <td>
                    @m.MusicianName
                </td>
                <td>
                    @m.Email
                </td>
                <td>
                    <a class="btn btn-info btn-sm" style="width:120px" asp-action="Musician" asp-route-id="@m.MusicianId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>