
@{
    ViewData["Title"] = "Confirm";
}

<div style="padding-top:120px;" class="text-center">
    <h1 style="padding-top:30px; padding-bottom:30px;">Your check-in has been confirmed!</h1>
    <a class="btn btn-lg btn-info" style="width:170px" asp-controller="Home" asp-action="Index">Return Home</a>
</div>