@model IEnumerable<Musician>
@{
    ViewData["Title"] = "Index";
}

<h1 style="padding-top:10px;">Check In</h1>
<p>Select Musician Returning Piece</p>
<table style="width:50%; margin-left:auto; margin-right:auto;" class="table table-striped">
    <thead>
        <tr>
            <th>Musician</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(Musician m in Model)
        {
            <tr>
                <td>@m.MusicianName</td>
                <td><a asp-action="CheckIn" class="btn btn-info btn-sm"  style="width:140px; float:right" asp-route-id="@m.MusicianId">Select</a></td>
            </tr>
        }
    </tbody>
</table>

