@model IEnumerable<Score>

@{
    ViewData["Title"] = "Score";
}

<h1 style="padding-top:10px;">Check in Scores</h1>
@if (Model.Any())
{
    <p>Please select the score that is being returned.</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Composer</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Score s in Model)
            {
                <tr>
                    <td>@s.sid</td>
                    <td>@s.Title</td>
                    <td>@s.Composer</td>
                    <td>
                        <a style="width:140px; float:right" class="btn btn-info btn-sm" asp-action="ScoreCheck" asp-route-id="@s.ScoreId">Select</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div style="padding-top:90px;" class="text-center">
        <h2 style="padding-top:30px; padding-bottom:30px;">No available scores to check in.</h2>
    </div>
}