@model Lizst.Models.Score

@{
    ViewData["Title"] = "Add Score";
}

<form asp-action="AddEnsemble" style="padding-top:20px; padding-bottom:20px;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <fieldset>
        <legend><b>Add Score</b></legend>
        <div class="form-group">
            <label asp-for="Title">Title: </label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Composer">Composer: </label>
            <input asp-for="Composer" class="form-control" />
            <span asp-validation-for="Composer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Genre">Genre: </label>
            <input asp-for="Genre" class="form-control" />
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Publisher">Publisher: </label>
            <input asp-for="Publisher" class="form-control" />
            <span asp-validation-for="Publisher" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SecondaryClassification">Secondary Classification: </label>
            <input asp-for="SecondaryClassification" class="form-control" />
            <span asp-validation-for="SecondaryClassification" class="text-danger"></span>
        </div>
    </fieldset>

    <!-- Not connected yet. -->

    <fieldset>
        <legend><b>Add Instrument</b></legend>
        <div class="form-group">
            <label for="instrumentSelect">Select Instrument: </label>
            <select class="form-control" id="instrumentSelect">
                <option>"Violin 1"</option>
                <option>"Violin 2"</option>
                <option>"Viola"</option>
                <option>"Cello"</option>
                <option>"Bass"</option>
            </select>
        </div>
        <div class="form-group">
            <label for=“numberOfParts”>Number of Parts: </label>
            <textarea class="form-control" id=“numberOfParts” rows="1"></textarea>
        </div>

    </fieldset>
    <div class="text-center">
        <input type="submit" class="btn btn-primary btn-md" style="width: 180px;" value="Save" />
    </div>
</form>