@model Lizst.Models.Score

@{
    ViewData["Title"] = "Add Score";
}

<form asp-action="AddEnsemble" style="padding-top:20px; padding-bottom:20px;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <fieldset>
        <legend><b>Add Score</b></legend>
        <div class="form-group">
            <label asp-for="Title">Title: </label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Composer">Composer: </label>
            <input asp-for="Composer" class="form-control" />
            <span asp-validation-for="Composer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Genre">Genre: </label>
            <select asp-for="Genre" class="form-control">
                <option>Medieval</option>
                <option>Renaissance</option>
                <option>Baroque</option>
                <option>Classical</option>
                <option>Romantic</option>
                <option>Early 20th Century</option>
                <option>Modern</option>
                <option>Other</option>
            </select>
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Publisher">Publisher: </label>
            <input asp-for="Publisher" class="form-control" />
            <span asp-validation-for="Publisher" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SecondaryClassification">Secondary Classification: </label>
            <input asp-for="SecondaryClassification" class="form-control" />
            <span asp-validation-for="SecondaryClassification" class="text-danger"></span>
        </div>
    </fieldset>

    <div class="accordion" style="padding-top:20px;padding-bottom:20px;" id="accordionExample">

        <div class="card">
            <div class="card-header" id="flute">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" style="color:#17a2b8;" type="button" data-toggle="collapse" data-target="#fluteCollapse" aria-expanded="false" aria-controls="fluteCollapse">
                        Flute
                    </button>
                </h5>
            </div>
            <div id="fluteCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Flute 1:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Flute 2:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Flute 3:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Flute 4:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="Piccolo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" style="color:#17a2b8;" type="button" data-toggle="collapse" data-target="#piccoloCollapse" aria-expanded="false" aria-controls="piccoloCollapse">
                        Piccolo
                    </button>
                </h5>
            </div>
            <div id="piccoloCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Piccolo 1:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Piccolo 2:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="clarinet">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" style="color:#17a2b8;" type="button" data-toggle="collapse" data-target="#clarinetCollapse" aria-expanded="false" aria-controls="clarinetCollapse">
                        Clarinet
                    </button>
                </h5>
            </div>
            <div id="clarinetCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Clarinet 1:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Clarinet 2:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Clarinet 3:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="oboe">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" style="color:#17a2b8;" type="button" data-toggle="collapse" data-target="#oboeCollapse" aria-expanded="false" aria-controls="oboeCollapse">
                        Oboe
                    </button>
                </h5>
            </div>
            <div id="oboeCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Oboe 1:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Oboe 2:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Oboe 3:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="Horns">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" style="color:#17a2b8;" type="button" data-toggle="collapse" data-target="#hornsCollapse" aria-expanded="false" aria-controls="hornsCollapse">
                        Horn
                    </button>
                </h5>
            </div>
            <div id="hornsCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Horn 1:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Horn 2:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Horn 3:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Horn 4:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="Trumpets">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" style="color:#17a2b8;" type="button" data-toggle="collapse" data-target="#trumpetCollapse" aria-expanded="false" aria-controls="trumpetCollapse">
                        Trumpet
                    </button>
                </h5>
            </div>
            <div id="trumpetCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Trumpet 1:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Trumpet 2:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Trumpet 3:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="Trombones">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" style="color:#17a2b8;" type="button" data-toggle="collapse" data-target="#tromboneCollapse" aria-expanded="false" aria-controls="tromboneCollapse">
                        Trombone
                    </button>
                </h5>
            </div>
            <div id="tromboneCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Trombone 1:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Trombone 2:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Trombone 3:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="Tuba">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" style="color:#17a2b8;" type="button" data-toggle="collapse" data-target="#tubaCollapse" aria-expanded="false" aria-controls="tubaCollapse">
                        Tuba
                    </button>
                </h5>
            </div>
            <div id="tubaCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Tuba 1:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Tuba 2:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="OtherBrass">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" style="color:#17a2b8;" type="button" data-toggle="collapse" data-target="#otherbrassCollapse" aria-expanded="false" aria-controls="otherbrassCollapse">
                        Other Brass
                    </button>
                </h5>
            </div>
            <div id="otherbrassCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Other Brass:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="Timpani">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" style="color:#17a2b8;" type="button" data-toggle="collapse" data-target="#timpaniCollapse" aria-expanded="false" aria-controls="timpaniCollapse">
                        Timpani
                    </button>
                </h5>
            </div>
            <div id="timpaniCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Timpani 1:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Timpani 2:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Timpani 3:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Timpani 4:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Timpani 5:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="Percussion">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" style="color:#17a2b8;" type="button" data-toggle="collapse" data-target="#percussionCollapse" aria-expanded="false" aria-controls="percussionCollapse">
                        Percussion
                    </button>
                </h5>
            </div>
            <div id="percussionCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Snare Drum:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Tenor Drum:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Bass Drum:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Cymbals:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Triangle:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Tam-tam:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Tambourine:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Wood Block:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Glockenspiel:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Xylophone:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Vibraphone:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Marimba:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Crotales:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Tubular Bells:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Mark Tree:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Drum Kit:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Other Percussion:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="Keyboards">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" style="color:#17a2b8;" type="button" data-toggle="collapse" data-target="#keyboardCollapse" aria-expanded="false" aria-controls="keyboardCollapse">
                        Keyboard
                    </button>
                </h5>
            </div>
            <div id="keyboardCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Piano:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Celesta:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Pipe Organ:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Harpsichord:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Accordion:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Claviharp:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Other Keyboard :</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="Violin">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" style="color:#17a2b8;" type="button" data-toggle="collapse" data-target="#violinCollapse" aria-expanded="false" aria-controls="violinCollapse">
                        Violin
                    </button>
                </h5>
            </div>
            <div id="violinCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Violin 1:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Violin 2:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px">Violin 3:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="Strings">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" style="color:#17a2b8;" type="button" data-toggle="collapse" data-target="#stringsCollapse" aria-expanded="false" aria-controls="stringsCollapse">
                        Strings
                    </button>
                </h5>
            </div>
            <div id="stringsCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Harp:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Viola:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Cello:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Double Bass:</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="padding:10px;">Other String :</label>
                        <input id="numberPicker" style="width:20%" type="number" name="quantity" min="0" max="10">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <input type="submit" class="btn btn-info btn-md" style="width: 180px;" value="Save" />
    </div>
</form>