@model Lizst.Models.Score

@{
    ViewData["Title"] = "Add Score";
}
<h1 style="padding-bottom:20px; padding-top:20px;">Add Score</h1>
<form asp-action="Submit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <fieldset style="padding-bottom:20px;">
        <div class="form-group">
            <label asp-for="Title">Title: </label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Composer">Composer: </label>
            <input asp-for="Composer" class="form-control" />
            <span asp-validation-for="Composer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Genre">Genre: </label>
            <select asp-for="Genre" class="form-control">
                <option>Medieval</option>
                <option>Renaissance</option>
                <option>Baroque</option>
                <option>Classical</option>
                <option>Romantic</option>
                <option>Early 20th Century</option>
                <option>Modern</option>
                <option>Other</option>
            </select>
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Publisher">Publisher: </label>
            <input asp-for="Publisher" class="form-control" />
            <span asp-validation-for="Publisher" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SecondaryClassification">Secondary Classification: </label>
            <input asp-for="SecondaryClassification" class="form-control" />
            <span asp-validation-for="SecondaryClassification" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Notes">Notes: </label>
            <textarea class="form-control" asp-for="Notes" rows="3"></textarea>
            <span asp-validation-for="Notes" class="text-danger"></span>
        </div>
    </fieldset >



    <div class="text-center">
        <input type="submit" class="btn btn-info btn-md" style="width: 180px;" value="Add Pieces" />
    </div>
</form>