@{
    ViewData["Title"] = "Edit Score";
}

<form style="padding-top:20px; padding-bottom:20px;">
    <fieldset>
        <legend><b>Edit Score</b></legend>
        <div class="form-group">
            <label for=“scoreTitle”>Title: </label>
            <textarea class="form-control" id=“scoreTitle” rows="1"></textarea>
        </div>
        <div class="form-group">
            <label for=“composer”>Composer: </label>
            <textarea class="form-control" id=“composer” rows="1"></textarea>
        </div>
        <div class="form-group">
            <label for=“genre”>Genre: </label>
            <textarea class="form-control" id=“genre” rows="1"></textarea>
        </div>
        <div class="form-group">
            <label for=“publisher”>Publisher: </label>
            <textarea class="form-control" id=“publisher” rows="1"></textarea>
        </div>
        <div class="form-group">
            <label for=“secondaryClassification”>Secondary Classification: </label>
            <textarea class="form-control" id=“secondaryClassification” rows="1"></textarea>
        </div>
    </fieldset>
</form>
<form style="padding-top:20px; padding-bottom:20px;">
    <fieldset>
        <legend><b>Add Instrument</b></legend>
        <div class="form-group">
            <label for="instrumentSelect">Select Instrument: </label>
            <select class="form-control" id="instrumentSelect">
                <option>"Violin 1"</option>
                <option>"Violin 2"</option>
                <option>"Viola"</option>
                <option>"Cello"</option>
                <option>"Bass"</option>
            </select>
        </div>
        <div class="form-group">
            <label for=“numberOfParts”>Number of Parts: </label>
            <textarea class="form-control" id=“numberOfParts” rows="1"></textarea>
        </div>

    </fieldset>
</form>

<div class="text-center" style="padding-top: 10px">
    <button type="delete" class="btn btn-danger btn-md" style="width: 180px;">Delete</button>
    <button type="save" class="btn btn-primary btn-md" style="width: 180px;">Save</button>
</div>