@{
    ViewData["Title"] = "Edit Score";
}

<form style="padding-top:20px; padding-bottom:20px;">
    <fieldset>
        <legend><b>Edit Score</b></legend>
        <div class="form-group">
            <label for=“Title”>Title: </label>
            <textarea class="form-control" id=“Title” rows="1"></textarea>
        </div>
        <div class="form-group">
            <label for=“Composer”>Composer: </label>
            <textarea class="form-control" id=“Composer” rows="1"></textarea>
        </div>
        <div class="form-group">
            <label for=“Genre”>Genre: </label>
            <textarea class="form-control" id=“Genre” rows="1"></textarea>
        </div>
        <div class="form-group">
            <label for=“Publisher”>Publisher: </label>
            <textarea class="form-control" id=“Publisher” rows="1"></textarea>
        </div>
        <div class="form-group">
            <label for=“SecondaryClassification”>Secondary Classification: </label>
            <textarea class="form-control" id=“SecondaryClassification” rows="1"></textarea>
        </div>
    </fieldset>
</form>
<form style="padding-top:20px; padding-bottom:20px;">
    <fieldset>
        <div class="form-group">
            <label for="Instrument">Select Instrument: </label>
            <select class="form-control" id="Instrument">
                <option>"Violin 1"</option>
                <option>"Violin 2"</option>
                <option>"Viola"</option>
                <option>"Cello"</option>
                <option>"Bass"</option>
            </select>
        </div>
        <legend><b>Add Instrument</b></legend>
        <div class="form-group">
            <label for=“NumberOfParts”>Number of Parts: </label>
            <textarea class="form-control" id=“NumberOfParts” rows="1"></textarea>
        </div>

    </fieldset>
</form>

<div class="text-center" style="padding-top: 10px">
    <button type="Delete" class="btn btn-danger btn-md" style="width: 180px;">Delete</button>
    <button type="Save" class="btn btn-primary btn-md" style="width: 180px;">Save</button>
</div>