@model SearchModel

@{
    ViewData["Title"] = "Edit Score";
}

<form  style="padding-top:20px" action="/Score/Index" method="post">
    <input type="hidden" name="search" value="@Model.Search" />
    <input type="hidden" name="genre" value="@Model.Genre" />
    <button class="btn btn-info" type="submit">Return to results</button>
</form>

<form asp-action="EditScore" style="padding-top:20px; padding-bottom:20px;" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <fieldset>
        <legend><b>Edit Score</b></legend>
        <div class="form-group">
            <label asp-for="Score.sid">Score ID: </label>
            <input asp-for="Score.sid" class="form-control" />
            <span asp-validation-for="Score.sid" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Score.Title">Title: </label>
            <input asp-for="Score.Title" class="form-control" />
            <span asp-validation-for="Score.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Score.Composer">Composer: </label>
            <input asp-for="Score.Composer" class="form-control" />
            <span asp-validation-for="Score.Composer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Score.Genre">Genre: </label>
            <select asp-for="Score.Genre" class="form-control">
                <option>Medieval</option>
                <option>Renaissance</option>
                <option>Baroque</option>
                <option>Classical</option>
                <option>Romantic</option>
                <option>Early 20th Century</option>
                <option>Modern</option>
                <option>Other</option>
            </select>
            <span asp-validation-for="Score.Genre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Score.Publisher">Publisher: </label>
            <input asp-for="Score.Publisher" class="form-control" />
            <span asp-validation-for="Score.Publisher" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Score.SecondaryClassification">Secondary Classification: </label>
            <input asp-for="Score.SecondaryClassification" class="form-control" />
            <span asp-validation-for="Score.SecondaryClassification" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Score.Notes">Notes: </label>
            <textarea class="form-control" asp-for="Score.Notes" rows="3"></textarea>
            <span asp-validation-for="Score.Notes" class="text-danger"></span>
        </div>

    </fieldset>
    

    <div class="text-center" style="padding-top: 10px">
        
        <input type="submit" name="button" value="Delete" class="btn btn-danger btn-md" style="width: 180px;" />
        <input type="submit" class="btn btn-info btn-md" style="width: 180px;" value="Edit Pieces" />
    </div>
</form>
